<div class="app" data-tap-disabled="true">

  <div data-word="{{dictionary.word}}" ng-show="dictionary.word||dictionary.error" class="dictionary-wrapper"> 
    <div class="dictionary">
      <div class="definition">
  	<div class="word">{{dictionary.word}}</div>
  	<div class="meanings">
  	  <div class="info">{{dictionary.info}}</div>
  	  <div class="meaning" ng-if="dictionary.error">{{dictionary.error}}</div>
  	  <div class="meaning" ng-repeat="meaning in dictionary.meanings">
  	    <div class="text" ng-if="meaning.text">{{meaning.text}}</div>
  	    <div class="example" ng-if="meaning.example">{{meaning.example}}</div>
  	  </div>
  	  <div class="credit" ng-if="dictionary.credit">{{dictionary.credit}}</div>
  	</div>
      </div>
    </div>
  </div>
  
  <div class="sidebar-wrapper-left" ng-if="isBookLoaded()" ng-click="doSidebar()" ng-class="{'out' : !state.sidebar}"></div>
  <div class="sidebar-wrapper" ng-class="{'out' : !state.sidebar}">
    <div class="sidebar">
      <div class="tab-list">
	<!-- <div class="button-bar"> -->
	<a data-tab="toc" class="reader-item button button-stable navbar-button icon ion-ios-list-outline" ng-click="onTabClick($event, 'toc')" ng-class="{'active': state.activeTab === 'toc'}"></a>
	<a data-tab="marks" class="reader-item button button-stable navbar-button icon ion-bookmark" ng-click="onTabClick($event, 'marks')" ng-class="{'active': state.activeTab === 'marks'}"></a>
        <a data-tab="search" class="reader-item button button-stable navbar-button icon ion-search" ng-click="onTabClick($event, 'search')" ng-class="{'active': state.activeTab === 'search'}"></a>
        <a data-tab="info" class="reader-item button button-stable navbar-button icon ion-information-circled" ng-click="onTabClick($event, 'info')" ng-class="{'active': state.activeTab === 'info'}"></a>
        <a data-tab="settings" class="reader-item button button-stable navbar-button icon ion-gear-a" ng-click="onTabClick($event, 'settings')" ng-class="{'active': state.activeTab === 'settings'}"></a>
	<!-- </div> -->

      </div>
      <div class="tab-container">
        <div class="tab" data-tab="toc" ng-show="state.activeTab === 'toc'">
          <div class="toc-list">
	    <a ng-repeat="item in navigation.toc track by $index"
	       class="reader-item" ng-click="gotoTocItem(item.href, $event)" ng-bind-html="item.labelHtml"
	       data-loc="{{item.href}}"
	       ng-class="{'active' : item.active}"></a>
	  </div>
        </div>

	<div class="tab" data-tab="marks" ng-show="state.activeTab === 'marks'">
          <div class="toc-list" style="padding-top: 10px;">
	    <div ng-repeat="item in state.marks track by $index">

	      <div ng-switch on="item.type">
		<div ng-switch-when="highlight" style="background: rgba(255, 255, 0, 0.4);">
		  <span><i class="icon custom-icon-small ion-marker">                                   </i>{{item.type}}
		    <span style="font-size: xxx-large;"> &bull; </span> {{item.chapterLabel}}</div>
		<div ng-switch-when="bookmark">
		  <span><i style="margin: 0 10px 0px 10px;" class="icon custom-icon-small ion-bookmark"></i>{{item.type}}
		    <span style="font-size: xxx-large;"> &bull; </span> {{item.chapterLabel}}</div>
	      </div>

	      <div class="bookmark-entry">
		<a class="reader-item bookmark-item" style="white-space: normal; line-height: 1.2;" ng-click="gotoMarkItem(item)" data-loc="{{item.href}}" ng-class="{'active' : item.active}">
		  <!-- <div>{{item.chapterLabel}}, Location: {{item.location}}</div> -->
		  <!-- <a class="reader-item bookmark-item" ng-click="gotoMarkItem(item)" data-loc="{{item.href}}" ng-class="{'active' : item.active}">{{item.text}}</a> -->
		  <blockquote>{{item.text}}</blockquote>
		  <span ng-if="item.annotationText" ng-bind-html="item.annotationText"></span>
		</a>
		<hr class="bookmarks-hr">
	      </div>
	    </div>
	  </div>
        </div>
	
        <div class="tab search" data-tab="search" ng-show="state.activeTab === 'search'">
          <div class="search-bar">
            <input type="text" autocomplete="off" placeholder="Search book..." class="search-box" ng-model="state.searchQuery">
            <button class="search-button" ng-click="onSearchClick()"><i class="icon ion-search ionicon-x-large"></i></button>
          </div>
          <div class="search-results">
	    <a ng-repeat="result in state.searchResults track by $index"
	       class="reader-item" ng-click="onResultClick(result.cfi)"><div class="text">{{result.excerpt}}</div></a>
	  </div>
        </div>
        <div class="tab info" data-tab="info" ng-show="state.activeTab === 'info'">
          <div class="cover-wrapper">
            <img src="{{metadata.cover}}" alt="" class="cover">
          </div>
          <div class="title">{{metadata.title}}</div>
          <div ng-if="metadata.series" class="series-info">
            <span class="series-name">{{metadata.series.name</span>
            <span class="divider"> - </span>
            <span class="series-index"{{metadata.series.index></span>
          </div>
          <div class="author">{{metadata.author}}</div>
          <div class="description" ng-bind-html="metadata.descriptionhtml"></div>
        </div>
        <div class="tab settings" data-tab="settings" ng-show="state.activeTab === 'settings'">
          <div class="setting">
            <div class="setting-label">Themes</div>
            <div class="setting-content theme chips" data-chips="theme">
	      <div ng-repeat="atheme in settings.themes" ng-click="setTheme(atheme)" class="theme chip" style="background: {{atheme.bg}}; color: {{atheme.fg}}"
		   data-them="{{atheme.bg + ':' + atheme.fg}}"
		   data-test="{{theme.bg + ':' + theme.fg}}"
		   ng-class="{'active' : (atheme.bg == theme.bg) && (atheme.fg == theme.fg)}"
		   >A</div>
            </div>
          </div>
          <div class="setting">
            <div class="setting-label">Font</div>
            <div class="setting-content font chips" data-chips="font">
	      <div ng-repeat="font in settings.fonts" ng-click="setFont(font.style)" class="font chip" style="font-family: {{font.style}};"
		   data-font="{{font}}"
		   ng-class="{'active' : (font.style == theme.ff)}">{{font.name}}</div>
	    </div>
	  </div>
	  <div class="setting">
            <div class="setting-label">Font Size</div>
            <div class="setting-content font-size chips" data-chips="font-size">
	      <div ng-repeat="font in settings.fontsizes" ng-click="setFontSize(font)" class="size chip" style="font-size: {{font}}pt" 
		   ng-class="{'active' : (font == theme.fs)}">{{font}}</div>
            </div>
          </div>
          <div class="setting">
            <div class="setting-label">Line Spacing</div>
	    <div class="setting-content line-spacing chips" data-chips="line-spacing">
	      <div ng-repeat="lh in settings.lineSpacings" ng-click="setLineSpacing(lh)" class="size chip"
		   ng-class="{'active' : (lh == theme.lh)}"
		   >{{lh}}</div>
            </div>
          </div>
          <div class="setting">
            <div class="setting-label">Margin</div>
            <div class="setting-content margin chips" data-chips="margin">
	      <div ng-repeat="margin in settings.margins" ng-click="setMargin(margin)" class="size chip"
		   data-margin="{{theme.m}}"
		   data-test="{{margin}}"
		   ng-class="{'active' : (margin == theme.m)}">{{margin}}px</div>
            </div>
          </div>
          <div class="setting">
            <div class="setting-label">Fullscreen</div>
            <div class="setting-content">
	      <a ng-click="doFullscreen()">Fullscreen</a>
            </div>
          </div>
          <div class="setting">
            <div class="setting-label">Reset</div>
            <div class="setting-content">
	      <a href1="javascript:void(0);" ng-click="doReset()">Reset All</a>
            </div>
          </div>
          <div class="setting">
            <div class="setting-label">About</div>
            <div class="setting-content">
	      This is an Ionic / Angular based ePub viewer written by Mark Watkins. It is derived from <a href="https://github.com/geek1011/ePubViewer">ePubViewer v3.0.0</a>, written by <a href="https://geek1011.github.io">Patrick Gaskin</a>, but heavily re-written to make it Ionic/Angular friendly. 
	      <br />
	      <br /> This app requires Microsoft Edge 15+, Mozilla Firefox 50+, Chrome 50+, or Safari 10+.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="readerBar">
    <div class="left readerBarBox">
      <button ng-click="doOpenBook()" class="button icon navbar-button  reader-big-button-icon ion-ios-cloud-upload"></button>
    </div>
    <div class="title readerBarBox">
      <span class="book-title">{{metadata.title}}</span>
      <span class="divider"> - </span>
      <span class="book-author">{{metadata.author}}</span>
    </div>
    <div class="right readerBarBox" ng-show="state.book" style="justify-content: flex-end;">
      <button ng-click="toggleBookmark()" class="button icon navbar-button right reader-big-button-icon ion-bookmark" ng-class="{'bookmark-pushed' : state.isBookmarked}"></button>
      <button ng-click="doSidebar()"      class="button icon navbar-button right reader-big-button-icon ion-android-menu"></button>
    </div>
  </div>
  
  <div class="book">
    <div ng-if="!isBookLoaded()" class="empty-wrapper">
      <div class="empty">
	<div class="app-name">ePubViewer</div>
	<div class="message">
	  <a ng-click="doOpenBook()" class="big-button">Open a Book</a>
	</div>
      </div>
    </div>
  </div>
  <div ng-show="state.book" class="readerBar">
    <div class="left">
      <button ng-click="prevPage()" class="button icon ion-ios-arrow-back reader-big-button-icon"></button>
    </div>
    <div ng-click="locationClick()" class="loc">{{state.locationString}}</div>
    <div class="right">
      <button ng-click="nextPage()" class="button icon ion-ios-arrow-forward reader-big-button-icon"></button>
    </div>
  </div>

</div>
<div id="extras">
  <!-- <ul id="highlights"></ul> -->
</div>
