<ion-view view-title="Dashboard">
  <ion-content class="padding" style="display: flex; justify-content: center; align-items: center; text-align: center;">
    <div>
      <button class="button button-positive" ui-sref="tab.reader">Open reader</button>
    </div>
    <p></p>
    <div><button class="button button-royal" ng-click="doTreasureIsland(0)">Treasure Island</button></div>
    <p></p>
    <div><button class="button button-royal" ng-click="doTreasureIsland(1)">Treasure Island w/annotations</button></div>
  </ion-content>
</ion-view>
