/* Empty. Add your own CSS if you like */

ion-popover-view.fit {
  height: auto !important;
  width: auto !important;
  min-width: 30px;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.button-bar > .button {
    padding: 0 10px !important;   /* this fixes button icons in the highlighting popover menu */
}

.custom-icon {
    width: 26px;
    height: 26px;
    margin-top: -2px;
    opacity: 0.9;
}

/* .ion-wikipedia:before { */
/*     /\* content: ""; *\/ */
/*     /\* content: url(../img/WikipediaW.svg); *\/ */
/*     /\* background-image: url(../img/WikipediaW.svg); *\/ */
/*     width: 24px; */
/*     height: 32px; */
/*     padding: 6px 0px 0px 0px !important; */
/*     opacity: 0.9; */
/* } */

.ion-wikipedia {
    content: url(../img/WikipediaW.svg);
}

.ion-google {
    content: url(../img/_ionicons_svg_logo-google.svg);
}

.pager-size {   
    font-size: 7vh;
}

.button .icon .reader-big-button-icon:before, 
.button.icon.reader-big-button-icon:before, 
.button.icon-left.reader-big-button-icon:before, 
.button.icon-right.reader-big-button-icon:before {
    font-size: 50px !important;
    line-height: 50px !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 5px;
}

.left .button .icon .reader-big-button-icon:before, 
.left .button.icon.reader-big-button-icon:before, 
.left .button.icon-left.reader-big-button-icon:before, 
.left .button.icon-right.reader-big-button-icon:before {
    float: left;
    left: 0
}
.right .button .icon .reader-big-button-icon:before, 
.right .button.icon.reader-big-button-icon:before, 
.right .button.icon-left.reader-big-button-icon:before, 
.right .button.icon-right.reader-big-button-icon:before {
    float: right;
    right: 0;

}

.right .button:before {
    float: right;
}

.ionicon-x-large:before {
    font-size: x-large !important;
}
