/* Empty. Add your own CSS if you like */

ion-popover-view.fit {
  height: auto !important;
  width: auto !important;
  min-width: 30px;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.button-bar > .button {
    padding: 0 10px !important;   /* this fixes button icons in the highlighting popover menu */
}

.custom-icon {
    width: 26px;
    height: 26px;
    margin-top: -2px;
    opacity: 0.9;
}

.ion-wikipedia {
    content: url(../img/WikipediaW.svg);
}

.ion-google {
    content: url(../img/_ionicons_svg_logo-google.svg);
}

.pager-size {   
    font-size: 7vh;
}

.navbar-button {
    min-width: 30px !important;
    text-align: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bookmark-entry {
    padding-left: 5px;
}
.bookmark-item {
    padding-top: 5px;
    padding-bottom: 5px; 
    white-space: normal; 
    line-height: 1.4; 
    font-style: italic;
}

.bookmarks-hr {
    margin-left: 10px; 
    margin-right: 10px; 
    border-color: rgba(226, 226, 226, 0.25);
}

.button .icon .reader-big-button-icon:before, 
.button.icon.reader-big-button-icon:before, 
.button.icon-left.reader-big-button-icon:before, 
.button.icon-right.reader-big-button-icon:before {
    font-size: 50px !important;
    line-height: 50px !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 5px;
}

.left .button .icon .reader-big-button-icon:before, 
.left .button.icon.reader-big-button-icon:before, 
.left .button.icon-left.reader-big-button-icon:before, 
.left .button.icon-right.reader-big-button-icon:before {
    float: left;
    left: 0
}
.right .button .icon .reader-big-button-icon:before, 
.right .button.icon.reader-big-button-icon:before, 
.right .button.icon-left.reader-big-button-icon:before, 
.right .button.icon-right.reader-big-button-icon:before {
    right: 0;
}

.ionicon-x-large:before {
    font-size: x-large !important;
}

.bookmark-pushed {
    color: #86F053 !important;
    /* color: #1565C0 !important; */
}